/*==================================*/
/*		     General                */
/*==================================*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	color: #33373D;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	background: #f3f3f3;
	min-width: 320px;
}

h2 {
	line-height: normal;
	margin-bottom: -2px;
}

h3 {
	font-size: 17px;
	font-weight: 700;
}

h4 {
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 14px;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #33373D;
}

section {
	margin-top: 60px;
}

.sub-header-container {
	margin-bottom: 14px;
}

.link {
	display: inline-block;
	padding: 5px 10px;
}

.col {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.sub-header {
	color: #89959B;
	font-size: 15px;
	font-weight: 400;
	line-height: normal;
}

.wrapper,
.section-container {
	max-width: 1160px;
	margin: 0 auto;
}

::selection {
	background-color: #CCE2FF;
	color: #33373D;
}

/*==================================*/
/*		     Main-Container         */
/*==================================*/

.main-container {
	background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/main-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}


/*==================================*/
/*		     Header                 */
/*==================================*/

/*------------Business Links------------*/

.business_links {
	text-align: right;
	background: #EDF1F4;
}

.business_links a:link,
.business_links a:visited {
	color: #89959B;
	font-size: 11px;
	line-height: 1.2;
}

.business_links a:hover,
.business_links a:active,
.business_links a:focus {
	color: #33373D;
}

/*------------Navigation Header------------*/
 
.navigation-header {
	background: #fff;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
}

.navigation-header img {
	height: 28px;
	vertical-align: middle;
	margin-top: -5px;
}

.navigation-header span {
	padding-left: 4px;
}

.left {
	float: left;	
}

.right {
	float: right;
}

.header-nav-link:link,
.header-nav-link:visited {
	color: #33373D;
	line-height: 1.7;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

.header-nav-link:hover,
.header-nav-link:active {
	background-color: #FFF8EB;
}

/*------------Login Container------------*/

.login-container {
	padding: 10px;
	height: 62px;
}

.login-btn {
	background: #fff;
	font-size: 14px;
	color: rgba(0,0,0,0.6);
	display: inline-block;
	height: 37px;
	padding: 6px 7px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	transition: background .2s, color .2s;
}

.login-btn:hover,
.login-btn:active,
.login-btn:focus {
	background: #EFF2F6;
	color: rgba(0,0,0,0.8);
}

.login-container img { 
	width: 23px;
	vertical-align: middle;
	margin-top: -5px;
	margin-right: 4px;
	border-radius: 50%;
}

.login-container span {
	margin-top: 7px;
}

.icon {
	margin: 0 6px;
} 


/*==================================*/
/*		     Main Content           */
/*==================================*/

.main-content {
	text-align: center;
	padding: 25px 0 40px;
}

.main-content img {
	width: 120px;
}

.main-title {
	color: #fff;
	font-weight: 300;
	padding-bottom: 25px;
	margin: 20px 0 10px;
	font-size: 28px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.main-content input[type="text"] {
	border: none;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
	padding: 10px 30px 10px 34px;
	outline: none;
	height: 40px;
	width: 43%;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 12px 14px;
	background-size: 13px 13px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn-red {
	background: #cb202d;
	color: #fff;
	font-weight: 400;
	display: inline-block;
	line-height: 18px;
	height: 40px;
	vertical-align: middle;
	border-radius: 4px;
	text-align: center;
	padding: 11px 21px;
	transition: all 0.15s ease-out;
}

.btn-red:hover,
.btn-red:active {
	background: #A71823;
}

.dropdown {
	display: inline-block;
	background: #fff;
	position: relative;
	border: none;
	border-radius: 4px;
}

.dropbtn {
	display: block;
	color: #33373D;
	font-size: 14px;
	font-weight: 300;
	padding: 11px 10px;
	height: 40px;
	line-height: 18px;
	vertical-align: middle;
}

.dropbtn i {
	font-size: 13px;
}

.dropbtn span {
	margin-right: 60px;
}

.dropdown-content {
	display: none;
	z-index: 4;
	position: absolute;
	border: 1px solid #e7e7e7;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 14px;
	width: 100%;
}

.dropdown-content a {
	display: block;
	color: #33373D;
	padding: 0 10px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
	font-weight: 400;
	height: 42px;
	line-height: 42px;
}

.dropdown-content a:last-child {
	border: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropdown-content a:hover,
.dropdown-content a:active {
	background-color: #FFF8EB;
}

.dropdown-content a.selected {
	color: #89959B;
	background: #EFF2F6;
	text-transform: uppercase;
	font-size: 12px;
}

.dropdown:hover {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*==================================*/
/*		  Section Collections       */
/*==================================*/

.collections-wrapper {
	width: 66.66667%;
	float: left;
}

.order-food-online-wrapper {
	width: 33.33333%;
	float: right;
}

.collections-grid-col {
	width: 48%;
	float: left;
	margin-bottom: 20px;
}

.collections-grid-col a {
	color: #33373D;
}

.collections-grid-col:nth-child(2n) {
	margin-left: 4%;
}

.collections-grid-col img {
	height: 120px;
	margin-right: 13px;
	float: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.trending {
	padding-top: 10px;
	padding-right: 15px;
}

.collections-info {
	font-size: 13px;
	margin-top: 5px;
}

.collections-wrapper .collections-btn {
	text-align: center;
}

.collections-wrapper .collections-btn a {
	color: #cb202d;
	display: block;
	padding: 14px;
	font-size: 14px;
}


/*==================================*/
/*		     Order-Food-Online      */
/*==================================*/

.order-food-online-box {
	padding: 14px;
	min-height: 335px;
}

.btn-green {
	display: block;
	background: #099E44;
	font-size: 14px;
	line-height: normal;
	color: #fff;
	padding: 10px 21px;
	box-shadow: 0 0 0 0 #e7e7e7 inset;
	text-align: center;
	border-radius: 4px;
	transition: background 0.2s ease;
}

.btn-green:hover {
	background: #018c38;
}

.divider {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid rgba(255,255,255,.1);
	margin: 10px 0;
}

.text-green {
	color: #099e44;
	font-size: 14px;
	padding-top: 5px;
	margin-top: 40px;
	text-align: center;
}

.detect-input {
	margin-bottom: 15px;
	background: #fff;
	position: relative;
}

.detect-input input {
	outline: none;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	opacity: 0.5;
	height: 42px;
	padding: 10px 94px 10px 37px;
	width: 100%;
}

.detect-input > i {
	position: absolute;
	width: 40px;
	height: 100%;
	text-align: center;
	line-height: 42px;
}

.detect-input a {
	position: absolute;
	display: inline-block;
	right: 0;
	top: 0;
	font-weight: 300;
	margin: 6px 8px;
	padding: 7px 5px 7px 7px;
	line-height: 1;
	border-radius: 4px;
	transition: all 0.2s ease;
	color: rgba(0,0,0,0.6);
}

.detect-input a:hover {
	background: rgba(0,0,0,0.6);
	color: #fff;
}

.detect-input > i {
	opacity: 0.7;
	font-size: 20px;
}

.detect-input a i {
	font-size: 17px;
	opacity: 0.8;
	margin-left: 3px;
}

.input-separator {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 92px;
	height: 28px;
	border-left: 1px solid #e7e7e7;
}

/*==================================*/
/*		     Quick-Search           */
/*==================================*/

.quick-search-container {
	padding: 21px;
}

.quick-search-container .quick-search-options {
	float: left;
	/*border: 1px solid red;*/
	width: 12.5%;
	line-height: 1.4;
	padding: 1em;
	height: 128px;
	text-align: center;
	transition: opacity 0.25s ease-out;
}

.quick-search-options:hover {
	opacity: 0.7;
}

.quick-search-options img {
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 0 auto 5px;
}

.quick-search-options div {
	font-size: 14px;
	/*border: 1px solid red;*/
}


/*==================================*/
/*		     Section Cities         */
/*==================================*/

.cities-container {
	padding: 14px;
}

.cities-container a {
	float: left;
	width: 33.333333%;
	font-size: 14px;
	padding: 0 10px 10px 10px;
}

.cities-container a span {
	color: #89959B;
}

/*==================================*/
/*		     Statistic              */
/*==================================*/

.grey-text-column {
	margin-top: 0;
	text-align: center;
}

.grey-text-column .section-container {
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.grey-text-column .section-container > div {
	display: inline-block;
	margin: 0 auto;
}

.statistic {
	float: left;
	text-transform: uppercase;
	margin: 0 21px 28px 21px;
	color: #B9BFC7;
}

.statistic .value {
	font-weight: 400;
	font-size: 42px;
	line-height: 1;
}

.statistic .label {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
}


/*==================================*/
/*		     Footer  		        */
/*==================================*/

footer {
	background: #282C35;
	border-top: 1px solid #eee;
	padding: 13px 1em 0;
	color: #cdcdcd; 
}

footer a {
	color: #cdcdcd;
}

footer h3 {
	margin: 12px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	color: #ADB0B6;
}

footer li {
	padding: 0 0 8px;
	font-size: 14px;
}

.footer-zomato-logo {
	display: inline-block;
	float: left;
}

.footer-zomato-logo img {
	width: 60px;
}

footer .dropdown {
	float: right;
	background-color: rgba(0,0,0,.3);
}

footer .dropdown > a {
	color: #fff;
	font-size: 16px;
	height: 32px;
	line-height: 22px;
	border-radius: 3px;
	border: 1px solid #6d6d6d;
	padding: 4px 10px;
}

footer .dropdown-content a {
	padding-left: 28px;
	background: rgba(0, 0, 0, 0.5);
	color: #cdcdcd;
	font-size: 14px;
	background: #333;
	border: none;
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
}

footer .dropdown-content a.selected {
	background: #444;
	color: #cdcdcd;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: none;
}

footer .dropdown-content a:hover {
	background: #444;
}

footer .dropdown a i {
	font-size: 16px;
	margin-right: 4px;
}

footer .dropdown-content {
	border: 1px solid #6d6d6d;
	box-shadow: 0 2px 3px 0 #e7e7e7;
}

.footer-divider {
	border-top: 1px solid #3C3F46;
	margin-top: 5px;
	margin-bottom: 5px;
}

.footer-about,
.footer-foodies,
.footer-restaurants {
	float: left;
}

.footer-about {
	width: 25%;
}

.footer-foodies {
	width: 31.25%;
}

.footer-restaurants {
	width: 43.75%;
}

.footer-restaurants div {
	width: 50%;
	float: left;
}

.footer-countries div {
	float: left;
	width: 20%;
}

.terms {
	width: 75%;
	float: left;
}

.terms li {
	display: inline-block;
	padding: 10px 25px 10px 0;
}

.social-links {
	width: 25%;
	text-align: right;
	float: right;
}

.social-links a {
	display: inline-block;
	margin: 5px 10px;
	width: 27px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	transition: background 0.3s ease-in;
}

.social-links a i {
	line-height: 28px;
	vertical-align: middle;
}

.social-links a:hover {
	background: rgba(0,0,0,.5);
}

.bottom {
	padding: 10px;
}

.bottom span {
	color: #9a9a9a;
	opacity: 0.5;
	font-size: 10px;
}

/*==================================*/
/*		     Clearfix                */
/*==================================*/

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}












