/*==================================*/
/*		     General                */
/*==================================*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	color: #33373D;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	background: #f3f3f3;
	min-width: 320px;
}

::selection {
	background-color: #CCE2FF;
	color: #33373D;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	max-width: 1160px;
	margin: 0 auto;
}


/*==================================*/
/*		     Header                 */
/*==================================*/

/*------------Business Links------------*/

.business_links {
	text-align: right;
	background: #EDF1F4;
}

.business_links a:link,
.business_links a:visited {
	display: inline-block;
	padding: 5px 10px;
	color: #89959B;
	font-size: 12px;
}

.business_links a:hover,
.business_links a:active,
.business_links a:focus {
	color: #33373D;
}
 









